.header-main{
    background-image: url("../assets/fondo2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: $color-text;
    }
}