//VARIABLES GENERALES
$color-primary: white;
$color-background: #222744;
$color-background-nav: #001483;
$color-links: #ffffffc6;
$color-text: #ffffff;
$font-size-text: 1.2rem;
$font-weight-text: bold;

//VARIABLES NAVBAR
$color-text-nav: #ffffff;
$font-size-nav: 20px;
$font-weight-nav: bold;


// body {
//     background-color: $color-background !important;
//     color: $color-primary !important;
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
// } 

// .links {
//     text-decoration: none;
//     font-weight: bold;
//     color: #ffffffc6
// }

// .links-main {
//     text-decoration: none;
//     color: $color-primary;
// }